/*-----------
    Fonts
-----------*/
@font-face
{
    font-family: 'Geometria';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Geometria-Light.woff2') format('woff2'),
    url('../fonts/Geometria-Light.woff') format('woff'),
    url('../fonts/Geometria-Light.ttf') format('truetype');
}

@font-face
{
    font-family: 'Geometria';
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Geometria-Regular.woff2') format('woff2'),
    url('../fonts/Geometria-Regular.woff') format('woff'),
    url('../fonts/Geometria-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Geometria';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
    url('../fonts/Geometria-Medium.woff') format('woff'),
    url('../fonts/Geometria-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'Geometria';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
    url('../fonts/Geometria-Bold.woff') format('woff'),
    url('../fonts/Geometria-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'Geometria';
    font-weight: 800;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
    url('../fonts/Geometria-ExtraBold.woff') format('woff'),
    url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #f4f1eb;
    --accent_color: #bea68e;
    --dark_color: #252525;
    --scroll_width: 17px;
    --cont_padding: 24px;
    --font_size: 17px;
    --main_slider_height: 100vh;
    --font_family: 'Geometria', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: var(--accent_color);
}

::-moz-selection
{
    color: #fff;
    background: var(--accent_color);
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}


html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}


html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: var(--accent_color);
}


body
{
    font-family: var(--font_family);
    font-size: var(--font_size);
    font-weight: 400;
    line-height: normal;

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--dark_color);
}


body.lock
{
    overflow: hidden;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;

    background: var(--bg);
}


.wrap > .main
{
    position: relative;

    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: calc(1240px + var(--cont_padding) * 2);
    margin: 0 auto;
    padding: 0 var(--cont_padding);
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



@keyframes pulse
{
    0%
    {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .28);
    }
    70%
    {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}



/*------------
    Header
------------*/
header
{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 33px 0;
}


header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;

    min-height: 58px;
}



header .mob_menu_btn
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


header .mob_menu_btn .icon
{
    display: block;

    width: 25px;
    height: 25px;
}



header .logo
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    transform: translate(-50%, -50%);
    text-decoration: none;

    color: currentColor;
}


header .logo img
{
    display: block;

    width: 182px;
    height: 58px;
}



header .anchors
{
    display: flex;

    gap: 42px;
}


header .anchors > *
{
    position: relative;
}


header .anchors .btn
{
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;

    position: relative;

    display: block;

    padding: 4px 0;

    letter-spacing: .39px;
    text-transform: uppercase;

    color: #000;
}


header .anchors .btn:after
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 0;
    height: 3px;
    margin: 0 auto;

    content: '';
    transition: width .3s linear;

    background: currentColor;
}


header .anchors > *:hover .btn:after
{
    width: 100%;
}


header .anchors .dropdown
{
    position: absolute;
    top: 100%;
    right: 0;

    display: none;
    flex-direction: column;

    width: 280px;
    padding: 20px;

    background: rgba(36, 36, 36, .95);

    gap: 13px;
}


header .anchors > *:hover .dropdown
{
    display: flex;
}


header .anchors .dropdown a
{
    font-size: 14px;
    font-weight: 500;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 48px;
    padding: 11px;

    transition: .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
}


header .anchors .dropdown a .icon
{
    position: absolute;
    top: 4px;
    right: 4px;

    display: block;

    width: 12px;
    height: 12px;
}


header .anchors .dropdown a:hover
{
    border-color: var(--accent_color);
    background: var(--accent_color);
}



/*---------------
    Mob. menu
---------------*/
.mob_menu
{
    position: fixed;
    z-index: 90;
    top: 0;
    right: 100%;

    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 56px 40px;

    transition: transform .3s linear;

    color: #fff;
    background: rgba(36, 36, 36, .95);

    overscroll-behavior-y: contain;
}


.mob_menu.show
{
    transform: translateX(100%);
}


.mob_menu .close_btn
{
    position: absolute;
    z-index: 5;
    top: 20px;
    left: 24px;
}


.mob_menu .close_btn .icon
{
    display: block;

    width: 21px;
    height: 21px;
}


.mob_menu .anchors
{
    display: flex;
    flex-direction: column;

    text-align: center;

    gap: 27px;
}


.mob_menu .anchors .btn
{
    font-size: 13px;
    font-weight: 700;

    width: 100%;

    transition: color .2s linear;
    letter-spacing: .39px;
    text-transform: uppercase;
}


.mob_menu .anchors .btn:hover
{
    color: var(--accent_color);
}


.mob_menu .buy
{
    margin-top: 50px;

    text-align: center;
}


.mob_menu .buy .title
{
    font-size: 13px;

    overflow: hidden;

    margin-bottom: 18px;

    letter-spacing: .39px;
    text-transform: uppercase;

    color: var(--accent_color);
}


.mob_menu .buy .title span
{
    position: relative;

    display: inline-block;

    vertical-align: top;
}


.mob_menu .buy .title span:before,
.mob_menu .buy .title span:after
{
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;

    display: block;

    width: 50vw;
    height: 1px;
    margin-right: 20px;

    content: '';

    background: currentColor;

    margin-block: auto;
}


.mob_menu .buy .title span:after
{
    right: auto;
    left: 100%;

    margin-right: 0;
    margin-left: 20px;
}


.mob_menu .buy .items
{
    display: flex;
    flex-direction: column;

    gap: 20px;
}


.mob_menu .buy .items a
{
    font-size: 14px;
    font-weight: 500;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 48px;
    padding: 11px;

    transition: .2s linear;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
}


.mob_menu .buy .items a .icon
{
    position: absolute;
    top: 4px;
    right: 4px;

    display: block;

    width: 12px;
    height: 12px;
}


.mob_menu .buy .items a:hover
{
    border-color: var(--accent_color);
    background: var(--accent_color);
}



/*-----------------
    Main slider
-----------------*/
.main_slider
{
    position: relative;

    background: linear-gradient(270deg, rgba(139, 116, 93, .39) 0%, rgba(193, 177, 161, .39) 90.17%, rgba(193, 177, 161, .00) 100%) #d9d9d9;
}


.main_slider:before
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 50%;
    height: 100%;

    content: '';

    background: linear-gradient(90deg, rgba(139, 116, 93, .39) 0%, rgba(193, 177, 161, .39) 90.17%, rgba(193, 177, 161, .00) 100%);
}


.main_slider .swiper
{
    position: relative;
    z-index: 3;
}


.main_slider .swiper-slide
{
    position: relative;

    overflow: hidden;
}


.main_slider .swiper-button-prev
{
    display: none;
}


.main_slider .cont
{
    display: flex;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

    height: 100vh;
    max-height: 1080px;

    padding-block: 124px calc(var(--main_slider_height) * .33722);
}


.main_slider .data
{
    position: relative;
    z-index: 3;

    width: 708px;
    max-width: 100%;
    margin-left: 8.5%;

    transition: .3s linear 1s;
    transform: translateX(-10%);

    opacity: 0;
    color: #fff;
}


.main_slider .pre_title
{
    font-size: 20px;

    position: absolute;
    top: 8px;
    left: 0;

    letter-spacing: .6px;
    text-transform: uppercase;
}


.main_slider .logo img
{
    display: block;

    max-width: 100%;
    height: 165px;
}


.main_slider .title
{
    font-size: 29px;
    font-weight: 300;

    margin-top: 8px;

    letter-spacing: .87px;
    text-transform: uppercase;
}


.main_slider .style
{
    font-size: 27px;
    font-weight: 300;
    line-height: calc(100% + 4px);

    position: absolute;
    z-index: 1;
    right: 50%;
    bottom: 263px;

    width: 367px;
    height: 543px;
    margin-right: -590px;
    padding: 51px 33px;

    letter-spacing: .823px;
    text-transform: uppercase;

    color: #fff;
    background: #6f6f6f;
}


.main_slider .style b
{
    font-weight: 800;

    display: block;
}


.main_slider .style span
{
    display: block;

    text-align: right;
}


.main_slider .image
{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 67px 60px 0;

    transition: .5s linear .5s;
    transform: translateY(25%);
    pointer-events: none;

    opacity: 0;
}


.main_slider .image img
{
    display: block;

    max-height: 100%;
}


.main_slider .swiper-slide.active .data,
.main_slider .swiper-slide.active .image
{
    transform: translateX(0%);

    opacity: 1;
}



/*----------------
    Categories
----------------*/
.categories .row
{
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
}


.categories .category
{
    position: relative;

    width: 100%;

    color: currentColor;
}


.categories .category .thumb
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-bottom: 150.416%;

    background: #f4f1eb;
}


.categories .category .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    transition: transform .2s linear;

    object-fit: cover;
}


.categories .category .name
{
    font-size: 18px;
    font-weight: 500;

    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 13.435%;
    left: 0;

    width: 286px;
    max-width: 100%;
    margin: 0 auto;
    padding: 14px 15px 15px;

    transition: background .2s linear;
    text-align: center;
    letter-spacing: .54px;
    text-transform: uppercase;

    color: #fff;
    background: rgba(36, 36, 36, .85);
}


.categories .category:hover .thumb img
{
    transform: scale(1.05);
}

.categories .category:hover .name
{
    background: var(--accent_color);
}



/*--------------
    Products
--------------*/
.products
{
    padding: 107px 0 140px;

    background: #fff;
}



.products .swiper-button-next,
.products .swiper-button-prev
{
    top: 0;
    bottom: 0;

    width: 74px;
    height: 74px;
    margin: auto 0;

    color: var(--dark_color);
    border: 1px solid var(--dark_color);
    border-radius: 50%;
}


.products .swiper-button-prev
{
    left: var(--cont_padding);

    margin-left: 0;
}

.products .swiper-button-next
{
    right: var(--cont_padding);

    margin-right: 0;
}


.products .swiper-button-next .icon,
.products .swiper-button-prev .icon
{
    width: 25px;
    height: 25px;
}


.products .swiper-button-next:hover,
.products .swiper-button-prev:hover
{
    color: #fff;
    background: var(--dark_color);
}



.products .main
{
    overflow: visible !important;
}


.products .swiper-slide-main
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}


.products .swiper-slide-main.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.products .main > .swiper-button-next,
.products .main > .swiper-button-prev
{
    top: auto;
    bottom: 100%;

    width: 62px;
    height: 62px;
    margin: 0 0 86px;
}


.products .main > .swiper-button-prev
{
    right: 69px;
    left: auto;
}


.products .main > .swiper-button-next
{
    right: 0;
}


.products .main > .swiper-button-next .icon,
.products .main > .swiper-button-prev .icon
{
    width: 22px;
    height: 22px;
}



.products .titles
{
    margin-bottom: 29px;
    padding-right: 160px;
}


.products .titles .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}


.products .titles .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.products .title
{
    font-size: 42px;
    font-weight: 300;

    position: relative;

    display: inline-block;

    padding-right: 89px;

    vertical-align: top;
    letter-spacing: 1.26px;
}


.products .title:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;

    width: 65px;
    height: 1px;
    margin: auto 0;

    content: '';

    background: currentColor;
}


.products .toggles
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 43px;

    gap: 80px;
}


.products .toggles .btn
{
    font-size: 18px;
    font-weight: 500;

    position: relative;

    letter-spacing: .54px;
    text-transform: uppercase;

    color: #535353;
}


.products .toggles .btn:after
{
    position: absolute;
    right: 0;
    bottom: -4px;
    left: 0;

    width: 0;
    height: 3px;
    margin: auto;

    content: '';
    transition: width .3s linear;

    background: #000;
}


.products .toggles .btn:hover:after,
.products .toggles .btn.active:after
{
    width: 100%;
}



.products .product
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.products .product .images
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: calc(100% - 481px);

    gap: 27px;
}


.products .product .image
{
    position: relative;

    display: block;

    padding-bottom: 150.461%;

    background: #ddd;
}


.products .product .image img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.products .product .thumbs
{
    overflow: hidden;

    padding: 5px 80px;
}


.products .product .thumbs .swiper
{
    overflow: visible !important;
}


.products .product .thumbs .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}


.products .product .thumbs .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.products .product .thumbs .swiper-button-prev
{
    left: -80px;
}


.products .product .thumbs .swiper-button-next
{
    right: -80px;
}


.products .product .thumbs .swiper-button-next,
.products .product .thumbs .swiper-button-prev
{
    width: 48px;
    height: 48px;
}


.products .product .thumbs .swiper-button-next .icon,
.products .product .thumbs .swiper-button-prev .icon
{
    width: 18px;
    height: 18px;
}


.products .product .thumbs .image
{
    cursor: pointer;
    transition: outline-color .2s linear;

    outline: 1px solid transparent;
    outline-offset: 4px;
}


.products .product .thumbs .swiper-slide-thumb-active .image
{
    outline-color: var(--accent_color);
}


.products .product .data
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 411px;
    max-width: 100%;
    min-height: 1142px;
}


.products .product .product_name
{
    font-size: 32px;
    font-weight: 500;

    width: 100%;
}


.products .product .desc
{
    font-size: 17px;
    line-height: 145%;

    margin-top: 42px;
}


.products .product .made_in
{
    font-size: 12px;
    font-weight: 500;
    line-height: 145%;

    display: flex;

    margin-top: 17px;
}


.products .product .made_in div
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding-right: 8px;

    border: 1px solid;

    gap: 12px;
}


.products .product .made_in .code
{
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 26px;
    height: 26px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: var(--dark_color);
}


.products .product .compound
{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 30px;

    gap: 15px;
}


.products .product .compound .label
{
    font-size: 20px;
    font-weight: 500;
}


.products .product .compound .val
{
    line-height: 145%;
}


.products .product .options
{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 44px;

    gap: 16px;
}


.products .product .options .exp
{
    font-size: 16px;
    line-height: 145%;

    margin-top: 14px;

    text-align: center;
}


.products .product .options .color .val
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    gap: 12px;
}


.products .product .options .color label
{
    display: block;

    cursor: pointer;
}


.products .product .options .color input
{
    display: none;
}


.products .product .options .color label div
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 48px;
    height: 48px;

    transition: border-color .2s linear;

    border: 1px solid transparent;
}


.products .product .options .color label span
{
    display: block;

    width: 28px;
    height: 28px;
}


.products .product .options .color input:checked + div
{
    border-color: var(--dark_color);
}


.products .product .options .size .val
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 19px 0;

    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;

    gap: 42px;
}


.products .product .options .size label
{
    font-size: 20px;
    font-weight: 500;
    line-height: 145%;

    display: block;

    cursor: pointer;
    text-align: center;
}


.products .product .options .size input
{
    display: none;
}


.products .product .options .size label div
{
    position: relative;
}


.products .product .options .size label div:after
{
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;

    display: block;

    width: 7px;
    height: 7px;
    margin: 0 auto;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
    background: currentColor;
}


.products .product .options .size input:checked + div:after
{
    opacity: 1;
}


.products .product .options .size .exp
{
    font-size: 14px;
    line-height: 145%;

    margin-top: 10px;
}


.products .product .buy
{
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 50px;

    gap: 20px;
}


.products .product .buy a
{
    font-size: 14px;
    font-weight: 500;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 79px;
    padding: 12px;

    transition: background .2s linear;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    background: var(--dark_color);

    gap: 9px;
}


.products .product .buy a span
{
    font-size: 22px;
    font-weight: 400;
    line-height: 145%;

    text-transform: none;
}


.products .product .buy a .icon
{
    position: absolute;
    top: 12px;
    right: 12px;

    display: block;

    width: 12px;
    height: 12px;
}


.products .product .buy a:hover
{
    background: var(--accent_color);
}



/*----------------
    Collection
----------------*/
.collection
{
    position: relative;

    margin-bottom: 66px;

    background: #ebe7e5;
}


.collection .data_wrap
{
    position: relative;
}



.collection .image,
.collection .mob_image
{
    position: relative;
    z-index: 1;

    display: block;
}


.collection .mob_image
{
    display: none;
}


.collection .image img,
.collection .mob_image img
{
    display: block;

    width: 100%;
}


.collection .points
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}


.collection .points.mob
{
    display: none;
}


.collection .point_wrap
{
    position: absolute;
    z-index: 3;
}


.collection .point_wrap.point1
{
    top: 35.708%;
    left: 71.823%;
}

.collection .point_wrap.point2
{
    top: 57.322%;
    left: 41.354%;
}

.collection .point_wrap.point3
{
    top: 72.435%;
    left: 87.448%;
}


.collection .points .line
{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;

    display: block;

    width: 0;
    height: 0;

    transition: .3s linear;
    pointer-events: none;

    background: url(../images/point_line.svg) 100% 0/183px 40px no-repeat;
}


.collection .point
{
    position: relative;
    z-index: 2;

    width: 20px;
    height: 20px;

    cursor: pointer;
    animation: pulse 1s infinite;

    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .28);
}


.collection .point_info
{
    position: absolute;
    top: 10px;
    right: 100%;

    visibility: hidden;

    width: 286px;
    margin-right: 168px;
    padding: 39px 38px 32px 32px;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    background: #242424;
}


.collection .point_info .close_btn
{
    position: absolute;
    z-index: 5;
    top: 16px;
    right: 16px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    border-radius: 50%;
}


.collection .point_info .close_btn .icon
{
    display: block;

    width: 20px;
    height: 20px;
}


.collection .point_info .name
{
    font-size: 32px;
    font-weight: 500;
}


.collection .point_info .desc
{
    font-size: 15px;
    line-height: 145%;

    display: flex;
    flex-direction: column;

    margin-top: 35px;

    gap: 20px;
}


.collection .point_info .buy
{
    display: flex;
    flex-direction: column;

    margin-top: 43px;

    gap: 16px;
}


.collection .point_info .buy a
{
    font-size: 13px;
    font-weight: 500;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 58px;
    padding: 11px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 1px solid #919191;
}


.collection .point_info .buy a .icon
{
    position: absolute;
    top: 11px;
    right: 11px;

    display: block;

    width: 12px;
    height: 12px;
}


.collection .point_info .buy a:hover
{
    color: var(--dark_color);
    border-color: #fff;
    background: #fff;
}


.collection .point_wrap.active
{
    z-index: 5;
}


.collection .point_wrap.active .line
{
    width: 183px;
    height: 40px;
}


.collection .point_wrap.active .point_info
{
    visibility: visible;

    transition: .2s linear .3s;
    pointer-events: auto;

    opacity: 1;
}



.collection .points.mob
{
    z-index: 5;

    pointer-events: none;
}


.collection .points.mob .point_wrap
{
    pointer-events: auto;
}


.collection .points.mob .point
{
    width: 16px;
    height: 16px;
}


.collection .points.mob .point_wrap.point1
{
    top: 29.314%;
    left: 59.688%;
}

.collection .points.mob .point_wrap.point2
{
    top: 58.420%;
    left: 32.188%;
}


.collection2 .points.mob .point_wrap.point1
{
    top: 31.601%;
    left: 71.562%;
}

.collection2 .points.mob .point_wrap.point2
{
    top: 69.231%;
    left: 35.312%;
}


.collection .points.mob .point_info
{
    z-index: 3;

    display: none;
    visibility: visible;
    flex-direction: column;

    width: calc(100% - var(--cont_padding) * 2);
    height: calc(100% - var(--cont_padding) * 2);
    margin: auto;
    padding: 48px 20px 20px;

    pointer-events: auto;

    opacity: 1;

    inset: 0;
}


.collection .points.mob .point_info.show
{
    display: flex;
}


.collection .points.mob .point_info .desc
{
    margin-top: 24px;

    gap: 16px;
}


.collection .points.mob .point_info .buy
{
    margin-top: auto;

    gap: var(--cont_padding);
}



.collection .data
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 212px 0 115px;

    pointer-events: none;
}


.collection .cont
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.collection .info
{
    display: flex;
    flex-direction: column;

    color: #fff;

    gap: 22px;
}


.collection .data .title
{
    font-size: 47px;
    font-weight: 300;

    letter-spacing: 1.41px;
    text-transform: uppercase;
}


.collection .data .desc
{
    font-size: 29px;
    font-weight: 300;

    letter-spacing: .87px;
    text-transform: uppercase;
}


.collection .link
{
    display: flex;

    margin-top: auto;
}


.collection .link a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 48px;
    margin: 0 auto;
    padding: 0 31px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;
    letter-spacing: .32px;
    pointer-events: auto;

    color: #fff;
    border: 1px solid;
    background: rgba(25, 25, 25, .30);
}


.collection .link a:hover
{
    border-color: var(--accent_color);
    background: var(--accent_color);
}



.collection2
{
    margin-bottom: 0;
    padding: 76px 0;
}


.collection2 .data
{
    padding: 115px 63px 93px;
}


.collection2 .point_wrap.point1
{
    top: 31.989%;
    left: 71.14%;
}

.collection2 .point_wrap.point2
{
    top: 69.731%;
    left: 42.603%;
}



/*-------------
    Gallery
-------------*/
.gallery
{
    position: relative;
    z-index: 9;

    margin-bottom: 73px;
}


.gallery .cols
{
    position: relative;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.gallery .right_image
{
    position: absolute;
    top: 0;
    left: 100%;

    display: block;

    width: 368px;
    max-width: 100%;
    margin-left: 32px;
}


.gallery .right_image img
{
    display: block;

    width: 100%;
}


.gallery .left_image
{
    position: absolute;
    right: 100%;
    bottom: 0;

    display: block;

    width: 276px;
    max-width: 100%;
    margin-right: 32px;
}


.gallery .left_image img
{
    display: block;

    width: 100%;
}


.gallery .cols .col
{
    display: flex;
    flex-direction: column;

    width: calc(50% - 16px);

    gap: 56px;
}


.gallery .cols .col + .col
{
    padding-top: 120px;
}


.gallery .row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 32px;
    padding: 0 32px;
}


.gallery .row > *
{
    width: calc(50% - 16px);
}


.gallery .item
{
    display: flex;
    flex-direction: column;

    margin-bottom: -30vh;

    gap: 32px;
}


.gallery .row .item
{
    margin-bottom: -10vw;
}


.gallery .cols .col + .col .item + .item
{
    margin-bottom: 0;
}


.gallery .item .thumb
{
    position: relative;

    display: block;
}


.gallery .item .thumb img
{
    display: block;

    width: 100%;
}


.gallery .caption
{
    font-size: 18px;

    position: relative;

    width: 604px;
    max-width: 100%;
    padding-left: 124px;
}


.gallery .caption:before
{
    position: absolute;
    top: 6px;
    left: 0;

    display: block;

    width: 82px;
    height: 1px;

    content: '';

    background: currentColor;
}


.gallery .info
{
    position: absolute;
    right: 32px;
    bottom: 32px;

    width: 286px;
    max-width: calc(100% - 64px);
    padding: 39px 38px 32px 32px;

    color: #fff;
    background: #242424;
}


.gallery .info .name
{
    font-size: 32px;
    font-weight: 500;
}


.gallery .info .desc
{
    font-size: 15px;
    line-height: 145%;

    display: flex;
    flex-direction: column;

    margin-top: 35px;

    gap: 20px;
}


.gallery .info .buy
{
    display: flex;
    flex-direction: column;

    margin-top: 43px;

    gap: 16px;
}


.gallery .info .buy a
{
    font-size: 13px;
    font-weight: 500;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 58px;
    padding: 11px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 1px solid #919191;
}


.gallery .info .buy a .icon
{
    position: absolute;
    top: 11px;
    right: 11px;

    display: block;

    width: 12px;
    height: 12px;
}


.gallery .info .buy a:hover
{
    color: var(--dark_color);
    border-color: #fff;
    background: #fff;
}



/*----------------
    About info
----------------*/
.about_info
{
    position: relative;

    padding: 124px 0 160px;
}


.about_info .cont
{
    position: relative;
    z-index: 3;
}


.about_info .data
{
    width: 536px;
    max-width: 100%;
}


.about_info .logo
{
    display: block;

    margin-bottom: -80px;
    margin-left: -96px;
}


.about_info .logo img
{
    display: block;

    width: 1015px;
}


.about_info .mob_logo
{
    display: none;

    margin-bottom: 32px;
}


.about_info .mob_logo img
{
    display: block;

    width: 195px;
    height: 35px;
    margin: 0 auto;
}


.about_info .desc
{
    line-height: 145%;

    position: relative;

    display: flex;
    flex-direction: column;

    padding-top: 41px;
    padding-left: 77px;

    gap: 20px;
}


.about_info .desc:before
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 82px;
    height: 1px;

    content: '';

    background: currentColor;
}


.about_info .link
{
    display: flex;

    margin-top: 41px;
    padding-left: 77px;
}


.about_info .link a
{
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 48px;
    padding: 0 31px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;
    letter-spacing: .32px;
    pointer-events: auto;

    color: currentColor;
    border: 1px solid var(--dark_color);
}


.about_info .link a:hover
{
    color: #fff;
    background: var(--dark_color);
}



.about_info .image
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;

    width: 50%;
    height: 100%;

    pointer-events: none;
}


.about_info .image img
{
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}



/*-----------------
    About brand
-----------------*/
.about_brand
{
    padding-top: 132px;
    padding-bottom: 132px;

    color: #fff;
    background: var(--dark_color);
}


.about_brand .data
{
    position: relative;
}


.about_brand .block_title
{
    font-size: 22px;
    font-weight: 300;

    position: absolute;
    z-index: 3;
    top: 123px;
    left: 0;

    padding-right: 75px;

    letter-spacing: .66px;
    text-transform: uppercase;
}


.about_brand .block_title:after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;

    width: 57px;
    height: 1px;
    margin: auto 0;

    content: '';

    background: var(--accent_color);
}


.about_brand .info
{
    position: absolute;
    z-index: 3;

    display: flex;
    flex-direction: column;

    gap: 17px;
}


.about_brand .info1
{
    top: 259px;
    left: 0;
}


.about_brand .info2
{
    right: 0;
    bottom: 67px;

    gap: 5px;
}


.about_brand .info .title
{
    font-size: 79px;
    font-weight: 300;
    line-height: 87%;

    width: 636px;
    max-width: 100%;

    color: var(--accent_color);
}


.about_brand .info .title.small
{
    font-size: 59px;
    line-height: 93%;

    width: 400px;
}


.about_brand .info .desc
{
    font-size: 20px;
    line-height: 145%;

    width: 298px;
    max-width: 100%;
}


.about_brand .info2 .desc
{
    width: 318px;
    margin-left: auto;

    transform: translateX(32px);
}

.about_brand .info2 .title + .desc
{
    margin-top: 17px;
}


.about_brand .images
{
    top: 0;
    left: 0;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1547px;
}


.about_brand .images .image
{
    display: block;

    max-width: 100%;
}


.about_brand .images .image1
{
    align-self: flex-end;

    width: 286px;
}

.about_brand .images .image2
{
    width: calc(100% - 927px);
}

.about_brand .images .image3
{
    width: 593px;
}


.about_brand .images .image img
{
    display: block;

    width: 100%;
}


.about_brand .bottom
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 45px;
    padding: 0 76px 0 98px;
}


.about_brand .bottom .item
{
    width: 35.931%;
}

.about_brand .bottom .item2
{
    width: calc(28.138% - 69px);
}

.about_brand .bottom .item3
{
    width: calc(35.931% + 5px);
}


.about_brand .bottom .image
{
    display: block;
}


.about_brand .bottom .image img
{
    display: block;

    width: 100%;
}


.about_brand .bottom .caption
{
    font-size: 18px;
    line-height: 145%;

    margin-top: 49px;
    padding-left: 15px;
}


.about_brand .mob_bottom
{
    position: relative;

    display: none;

    height: 643px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
}


.about_brand .mob_bottom .title
{
    font-size: 36px;
    font-weight: 300;
    line-height: 93%;

    color: var(--accent_color);
}


.about_brand .mob_bottom .desc
{
    line-height: 145%;

    width: 140px;
    max-width: 100%;
    margin-top: 14px;
}


.about_brand .mob_bottom .image
{
    position: absolute;

    display: block;
}


.about_brand .mob_bottom .image1
{
    bottom: 428px;
    left: 170px;

    width: 130px;
}

.about_brand .mob_bottom .image2
{
    bottom: 122px;
    left: 0;

    width: 170px;
}

.about_brand .mob_bottom .image3
{
    bottom: 0;
    left: 190px;

    width: 612px;
}


.about_brand .mob_bottom .image img
{
    display: block;

    width: 100%;
}



/*-------------------
    Contacts info
-------------------*/
.contacts_info
{
    padding-bottom: 128px;

    color: #fff;
    background: var(--dark_color);
}


.contacts_info .block_title
{
    font-size: 40px;
    line-height: 35px;

    position: relative;

    margin-bottom: 47px;

    letter-spacing: 1.2px;
    text-transform: uppercase;
}


.contacts_info .block_title span
{
    font-weight: 300;

    display: block;
}


.contacts_info .block_title .icon
{
    position: absolute;
    top: 50%;
    right: 0;

    display: block;

    width: 75px;
    height: 75px;

    transform: translateY(-50%) rotate(-45deg);
}


.contacts_info .list
{
    display: flex;
    flex-direction: column;

    gap: 67px;
}


.contacts_info .item
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 19px;

    border-top: 1px solid #919191;
}


.contacts_info .item .label
{
    font-size: 19px;

    letter-spacing: .57px;
    text-transform: uppercase;
}


.contacts_info .item .val
{
    font-size: 19px;

    display: flex;
    flex-direction: column;

    width: 339px;
    max-width: 100%;

    letter-spacing: .57px;
    text-transform: uppercase;

    gap: 20px;
}


.contacts_info .item .val a
{
    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}


.contacts_info .item .phone,
.contacts_info .item .email
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}


.contacts_info .item .phone > * + *,
.contacts_info .item .email > * + *
{
    width: calc(100% - 139px);
}


.contacts_info .item .phone a,
.contacts_info .item .email a
{
    font-weight: 300;
}



/*------------
    Footer
------------*/
footer
{
    color: #fff;
    background: #171717;
}


footer .data
{
    padding: 89px 0 83px;
}


footer .bottom
{
    font-size: 14px;
    line-height: 130.122%;

    padding-bottom: 20px;

    color: #878787;
}


footer .cont
{
    justify-content: space-between;
}



footer .logo
{
    transform: translateX(calc(-100% - 11px));
}


footer .logo img
{
    display: block;

    width: 147px;
    height: 26px;
}



footer .info
{
    position: relative;

    width: calc(100% - 185px);
    margin-left: auto;
    padding-right: 185px;
}



footer .btnUp
{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 74px;
    height: 74px;

    border: 1px solid;
    border-radius: 50%;
}


footer .btnUp .icon
{
    display: block;

    width: 24px;
    height: 24px;

    transform: rotate(-90deg);
}



footer .menu
{
    font-size: 16px;

    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    letter-spacing: .48px;
}


footer .menu .btn
{
    position: relative;

    transition: color .2s linear;
    text-transform: uppercase;
}


footer .menu .btn:after
{
    position: absolute;
    right: 0;
    bottom: -7px;
    left: 0;

    width: 0;
    height: 3px;
    margin: auto;

    content: '';
    transition: width .3s linear;
    pointer-events: none;

    background: var(--accent_color);
}


footer .menu .btn:hover
{
    color: var(--accent_color);
}


footer .menu .btn:hover:after
{
    width: 100%;
}



footer .subscribe
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 70px;
}


footer .subscribe .title
{
    font-size: 22px;
    font-weight: 500;

    padding: 8px 0;

    letter-spacing: .66px;
    text-transform: uppercase;
}


footer .subscribe form
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 240px);
}


footer .subscribe form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

footer .subscribe form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

footer .subscribe form ::-moz-placeholder
{
    opacity: 1;
    color: var(--form_placeholder_color);
}

footer .subscribe form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


footer .subscribe form .field
{
    width: calc(100% - 185px);
}


footer .subscribe form .input
{
    font-family: var(--font_family);
    font-size: 16px;

    display: block;

    width: 100%;
    height: 51px;

    letter-spacing: .48px;
    text-transform: uppercase;

    color: currentColor;
    border: none;
    border-bottom: 1px solid #919191;
    background: none;
}


footer .subscribe form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


footer .subscribe form .submit_btn
{
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;

    width: 185px;
    max-width: 100%;
    height: 51px;
    padding: 0 23px;

    transition: .2s linear;
    letter-spacing: .32px;

    border: 1px solid #767676;
}


footer .subscribe form .submit_btn:hover
{
    border-color: var(--accent_color);
    background: var(--accent_color);
}


footer .subscribe form .agree
{
    width: 100%;
    margin-top: 11px;
}


footer .subscribe form .checkbox
{
    font-size: 14px;
    line-height: 125%;

    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 515px;
    max-width: 100%;
    min-height: 31px;
    padding-left: 45px;

    cursor: pointer;

    color: #878787;
}


footer .subscribe form .checkbox input
{
    display: none;
}


footer .subscribe form .checkbox .check
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 31px;
    height: 31px;
    margin: auto 0;

    transition: background .2s linear;

    color: #fff;
    border: 1px solid var(--accent_color);
}


footer .subscribe form .checkbox .check .icon
{
    display: block;

    width: 17px;
    height: 15px;

    content: '';
    transition: opacity .2s linear;

    opacity: 0;
}


footer .subscribe form .checkbox a
{
    text-decoration: none;

    color: var(--accent_color);
}


footer .subscribe form .checkbox input:checked ~ .check
{
    background: var(--accent_color);
}


footer .subscribe form .checkbox input:checked ~ .check .icon
{
    opacity: 1;
}



footer .copyright
{
    width: 147px;
    max-width: 100%;

    transform: translateX(calc(-100% - 11px));
}



footer .privacy_policy_link
{
    margin-right: auto;
    margin-left: 196px;
}


footer .privacy_policy_link a
{
    transition: color .2s linear;
    text-decoration: none;

    color: currentColor;
}


footer .privacy_policy_link a:hover
{
    color: var(--accent_color);
}



footer .creator
{
    font-size: 8px;
    line-height: 130.122%;

    color: #a3a3a3;
}


footer .creator a
{
    text-decoration: none;

    color: currentColor;
}


footer .creator span
{
    display: block;
}


footer .creator span.name
{
    font-size: 12px;
    line-height: 130.122%;

    text-transform: uppercase;
}
